% vim: ft=erlang:
[ {deveice_token_server,[
            {http_server,"http://device.token.server.com"}
           ]
  },
  {erl4apns, [ {apple_host,       "gateway.push.apple.com"}
             , {apple_port,       2195}
             , {cert_file,        "priv/cert.pem"}
             , {key_file,         undefined}
             , {cert_password,    "123456"}
             , {timeout,          30000}
             , {feedback_host,    "feedback.push.apple.com"}
             , {feedback_port,    2196}
             , {feedback_timeout, 600000} %% 10 Minutes
             ]
  },
  {emysql, [
       {default_timeout, 8000},
       {pools, [
         {apns1, [
           {size, 10},
           {user, "root"},
           {password, "password"},
           {host, "127.0.0.1"},
           {port, 3306},
           {database, "database"},
           {encoding, 'utf8'}
         ]}
       ]}
     ]
  },
  {sasl, [{sasl_error_logger, {file, "log/erlang_err.log"}}
    ]}
].

